.text1{
    padding: 30px;
    font-size: 1.4rem;
    color: rgba(255,255,255, 1);
}

.text2{
    padding: 30px;
    font-size: 1.4rem;
    color: rgba(255,255,255, 1);
}

.text3{
    padding: 30px;
    font-size: 1.4rem;
    color: rgba(255,255,255, 1);   
}

body{
  margin: 0%;
}
 